.rewardsmaincontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 60px; 
    left: 16.8%;
    right: 0; 
    bottom: 0; 
    background-color: #ebf7ff;
    font-size: 18px;
    color: #333;
    overflow-y: auto; 
    overflow-x: hidden;
    flex-grow: 1;
    z-index: 1;
}

.button{
    display: "flex";
    border-bottom: "2px solid #ddd"; 
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    background-color: white;  
    padding: 25px 40px 0px ;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    z-index: 10;  
    
}
.addTask{
    display: flex; /* 使用 flexbox 来水平排列标签 */
    align-items: center; /* 垂直居中对齐 */
    margin-top: 10px;
    height: 50px;
    background-color: #FFFFFF; /* 设置背景色 */
    padding: 10px;
    text-align: center;
    border-radius: 24px;   
}