.maincontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 75px; 
    left: 16.8%;
    right: 0; 
    bottom: 0; 
    background-color: #ebf7ff;
    font-size: 18px;
    color: #333;
    overflow-y: auto; 
    flex-grow: 1;
    z-index: 1;
}

.top-section {
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    background-color: white;  
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;  
}

.search-post-container {
    position: absolute; 
    top: 0px;  
    right: 25px;  
    display: flex;  
    gap: 10px; 
    align-items: center; 
  }

.sort-dropdown{
    position: absolute;
    border:none;
    background-color: white;
    font-size: 16px;
    top: 10px;;
    left: 25px;
    height:30px;
    display: flex;
    align-items: center;
    z-index: 10;
}