.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px; /* Set a fixed width */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  box-shadow: none;
}

.sidebar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 35px;
}

.sidebar-logo {
  width: 70%;
  max-width: 180px;
  height: auto;
}

.copy-code {
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding: 20px;
  color: #000000a4;
}

.copy-code span {
  margin-right: 10px;
}

.copy-code button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-link i {
  font-size: 18px;
}

.sidebar-link:hover {
  background-color: #f3f3f3;
  color: #000;
}

.sidebar-link.active {
  font-weight: bold;
  background-color: #202c34;
  color: white;
}