.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16.8%;
  background-color: white;
  color: black;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  width: 60%;
  max-width: 150px;
  height: auto;
  display: block;
  margin: 10px auto 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px 20px;
  border-bottom: none; 
}

.sidebar li:nth-child(3) { 
  border-bottom: 1px solid #444; 
}

.sidebar li:hover {
  background-color: #333;
}

.sidebar li:hover a {
  color: white;
}

a {
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px; 
  text-decoration: none;
  color: black;
}

i {
  font-size: 16px;
  width: 24px;
  vertical-align: middle; /* 确保图标与文字垂直对齐 */
  line-height: 1;
}

.copy-code {
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.copy-code span {
  font-size: 14px;
  margin-right: 5px;
}

.copy-code button {
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
