.post {
    background-color: white;
    top: 40px;
    position: relative; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 5px; 
}

.post-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    flex: 1; 
    text-decoration: none;
}

.post-actions {
    display: flex;
    gap: 25px; 
}

.edit-button,
.delete-button {
    background: none; 
    border: none; 
    font-size: 18px; 
    color: black; 
    cursor: pointer; 
    padding: 0;
}

.edit-button i,
.delete-button i {
    font-size: 24px; 
}

.edit-button:hover,
.delete-button:hover {
    color: #0056b3; 
}

.post-content {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #888;
    gap: 20px;
}

.post-author {
    font-weight: bold;
    width: 60px;
}

.post-date {
    color: #888;
}

.post-date i{
    margin-right: 5px;
    color:#888;
}

.post-likes {
    color: #888;
    width: 60px;
}

.post-likes i {
    margin-right: 5px;
    color: #888;
    cursor: pointer;
}

.post-likes i.liked {
    color: red; 
}

.post-author i {
    margin-right: 5px;
    color: #888;
}
