.post-detail{
  border: none;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px; /* 按钮之间的间距 */
}

.post-title{
  font-size: 24px;
}

.post-time{
  font-size:16px;
  color: gray;
}

.post-content{
  font-size:20px;
}

.comment-button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.like-button {
  font-size: 20px;
  width: 100px;
  color: gray;
  border: none;
  cursor: pointer
}

.like-button.liked {
  color: red; /* 点击后变红 */
}


.like-detail {
  margin-left: 10px;
  font-size: 16px;
  color: #666;
}
